@model LanghuaNew.Data.AlipayTransfer

@{
    ViewBag.SECTION = "客户";
    ViewBag.FUNCTION = "查看转账";
}
<div class="ddtitle">
    <div class="title-left"><span class="border-left"></span>转账记录</div>
    <div class="button-right"><a href="~/AlipayTransfers/Index" class="btn btn-sm btn-default">返回转账首页</a></div>
</div>
<div class="panel panel-default">
    <div class="panel-body form " style="display: block;">
        <form class="form-horizontal" role="form">
            <div class="form-body" style="padding-top:0px;padding-bottom:0px">
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>客户来源：</label>
                    <div class="col-md-10">
                        <span id="OrderSourse">
                            @foreach (LanghuaNew.Data.OrderSourse s in ViewBag.OrderSourse)
                            {
                                if (Model.OrderSourseID == s.OrderSourseID)
                                {
                                    <label class="radio-inline"><input class="OrderSourse" type="radio" name="OrderSourse" value="@s.OrderSourseID" checked disabled />@s.OrderSourseName</label>
                                }
                                else
                                {
                                    <label class="radio-inline"><input class="OrderSourse" type="radio" name="OrderSourse" value="@s.OrderSourseID" disabled />@s.OrderSourseName</label>
                                }
                            }
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>淘宝ID：</label>
                    <div class="col-md-10">
                        <input id="TBID" type="text" class="form-control input-inline" style="width:200px" value="@Model.TBID" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>系统订单号：</label>
                    <div class="col-md-10">
                        <label class="radio-inline">
                            <input checked class="CheckOrderNo" type="radio" name="CheckOrderNo" value="1" disabled/>
                            <input @(string.IsNullOrEmpty(Model.OrderNo) ? "" : "checked") class="CheckOrderNo" type="radio" name="CheckOrderNo" value="1" disabled/>
                            <span class="vertical-middle">&nbsp;</span>
                        </label>
                        <input id="OrderNo" type="text" class="form-control input-inline" style="width:174px" value="@Model.OrderNo" disabled>
                        <label class="radio-inline">
                            <input @(string.IsNullOrEmpty(Model.OrderNo) ? "checked" : "") class="CheckOrderNo" type="radio" name="CheckOrderNo" value="2" disabled/>
                            <span class="vertical-middle">静默销售（无系统订单）</span>
                        </label>                        
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>收款账号：</label>
                    <div class="col-md-10">
                        <input id="ReceiveAddress" type="text" class="form-control input-inline" style="width:200px" value="@Model.ReceiveAddress" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">收款人姓名：</label>
                    <div class="col-md-10">
                        <input id="ReceiveName" type="text" class="form-control input-inline" style="width:200px" value="@Model.ReceiveName" disabled>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>转账类型：</label>
                    <div class="col-md-10">
                        <select id="TransferTypeValue" class="input input-sm input-small" disabled>
                            <option selected value="-1">请选择</option>
                            @foreach (LanghuaNew.Data.TransferType item in Enum.GetValues(typeof(LanghuaNew.Data.TransferType)))
                            {
                                var value = (int)item;
                                if (Model.TransferTypeValue == item)
                                {
                                    <option value="@value" selected>@LanghuaNew.Data.EnumHelper.GetEnumDescription(item)</option>
                                }
                                else
                                {
                                    <option value="@value">@LanghuaNew.Data.EnumHelper.GetEnumDescription(item)</option>
                                }
                            }
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>转账金额：</label>
                    <div class="col-md-10">
                        <input id="TransferNum" type="text" class="form-control input-inline" style="width:110px" value="@Model.TransferNum" disabled>元
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>转账原因：</label>
                    <div class="col-md-10">
                        <textarea id="Remark" class="form-control input-inline" rows="5" style="width:290px" disabled>@Model.TransferReason</textarea>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="ddtitle">
    <div class="row">
        <div class="col-md-6 title-left"><span class="border-left"></span>转账操作记录</div>
    </div>
</div>
<table class="table-lh table-lh-bordered-white table-lh-bordered-edge-remove " id="tbAlipayTransferLog">
    <thead>
        <tr>
            <th style="width:180px;">操作人</th>
            <th style="width:180px;">操作</th>
            <th style="width:270px;">操作时间</th>
            <th style="width:540px;">备注</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Logs.OrderByDescending(s=>s.AlipayTransferLogID))
        {
            <tr>
                <td>@item.UserName</td>
                <td>@LanghuaNew.Data.EnumHelper.GetEnumDescription(item.Operate)</td>
                <td>@item.OperateTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                <td>@Html.Raw(item.Remark)</td>
            </tr>
        }
    </tbody>
</table>
