@model LanghuaNew.Data.OrderSourse

@{
    ViewBag.SECTION = "基础数据";
    ViewBag.FUNCTION = "修改订单来源";
}
<div class="ddtitle">
    <div class="title-left"><span class="border-left"></span>订单来源设置</div>
    <div class="button-right"><a href="~/OrderSourses/Index" class="btn btn-sm btn-default button70">返回</a></div>
</div>

<div class="panel-default panel">
    <div class="panel-body form ">
        <form action="/OrderSourses/Edit" method="post" class="form-horizontal" onsubmit="return validate_form(this)">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.OrderSourseID)
            @Html.HiddenFor(model => model.OrderSourseEnableState)
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>@Html.LabelFor(model => model.OrderSourseName)：</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.OrderSourseName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.OrderSourseName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>@Html.LabelFor(model => model.ShowNo)：</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ShowNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ShowNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="保存" class="btn btn-primary button70" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" language="javascript">
    function validate_form(thisform) {
        with (thisform) {
            var bl = true;
            if (validate(OrderSourseName, "请填写") == false)
                bl = false;
            if (validate(ShowNo, "请填写") == false)
                bl = false;
            return bl;
        }
    }
    function validate(field, show) {
        with (field) {
            if (!value) {
                $(field).warning(show);
                return false;
            }
            return true;
        }
    }
</script>