@model LanghuaNew.Data.Order

@{
    ViewBag.Title = "Edit";
}
@{
    ViewBag.SECTION = "订单";
    ViewBag.FUNCTION = "订单填写";
}

<!--日期选择-->
@section DatepickerCSS {
    @Styles.Render("~/Content/plugins/datePicker_Css")
}
@section DatepickerJS {
    @Scripts.Render("~/bundles/plugins/datePickerJs")
}
<!--搜索选择-->
@section TypeaheadCSS{
    @Styles.Render("~/Content/plugins/typeAhead_Css")
}
@section TypeaheadJS{
    @Scripts.Render("~/bundles/plugins/typeAheadJs")
}
@section PageJS{

    <script src="../../Scripts/pages/personPicker.js?v=@System.Configuration.ConfigurationManager.AppSettings["version"]"></script>
    <script src="../../Scripts/pages/orderEdit.js?v=@System.Configuration.ConfigurationManager.AppSettings["version"]"></script>
}

<div id="orderid" class="hidden">@Model.OrderID</div>
<div id="customerid" class="hidden">@Model.CustomerID</div>


<div class="ddtitle">
    <div class="title-left">
        <span class="border-left"></span>联系人基本资料
    </div>
    <div class="button-right">
        <a href="/Orders/index" class="btn btn-sm btn-primary  ">返回订单首页</a>
    </div>
</div>

@*<div class="panel panel-default  " style="position:relative">
     @{
         if (!string.IsNullOrEmpty(ViewBag.ImageUrl))
         {
             <div class="text-center">

                 <div class="flex">
                     <img src="@ViewBag.ImageUrl" alt="等待二维码" />
                     <div class="text">微信扫码关注</div>
                     <div class="text">随时查看确认单和订单状态</div>
                 </div>
             </div>
         }
     }

    <div class="panel-body form " style="display: block;">
             <form class="form-horizontal" role="form">
                 <div class="form-body" style="padding-top:0px;padding-bottom:0px">
                     <div class="form-group">
                         <label class="col-md-2 control-label">淘宝ID：</label>
                         <div class="col-md-10">
                             <p id="CustomerTBCode" class="form-control-static">@Model.Customers.CustomerTBCode</p>
                         </div>
                     </div>

                     <div class="form-group">
                         <label class="col-md-2 control-label"><span style="color:red;margin-right:5px;">*</span>姓名（中文）：</label>
                         <div class="col-md-10">
                             <input id="CustomerName" type="text" class="form-control input-inline input-sm input200" value="@Model.CustomerName" placeholder="中文姓名" />
                             <span class="help-inline">  </span>

                         </div>
                     </div>
                     <div class="form-group">
                         <label class="col-md-2 control-label"><span style="color:red;margin-right:5px;">*</span>姓名（拼音）：</label>
                         <div class="col-md-10">
                             <input id="CustomerEnname" type="text" class="form-control input-inline input-sm input200" value="@Model.CustomerEnname" placeholder="姓名（拼音）" />
                             <span class="help-inline">请与护照上的姓名拼音保持一致. </span>
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="col-md-2 control-label"><span style="color:red;margin-right:5px;">*</span>联系电话：</label>
                         <div class="col-md-10">
                             <input id="Tel" type="text" class="form-control input-inline input-sm input200" value="@Model.Tel" placeholder="" />
                             <span class="help-inline">最好是到国外也能接听的电话</span>
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="col-md-2 control-label">备用联系电话：</label>
                         <div class="col-md-10">
                             <input id="BakTel" type="text" class="form-control input-inline input-sm input200" value="@Model.BakTel" placeholder="" />
                             <span class="help-inline"> 尽量填写国外当地号码，以便及时联系 </span>
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="col-md-2 control-label"><span style="color:red;margin-right:5px;">*</span> Email地址：</label>
                         <div class="col-md-10">
                             <input id="Email" type="text" class="form-control input-inline input-sm input200" value="@Model.Email" placeholder="" />
                             <span class="help-inline"> 常用邮箱，用来接收确认单或预订信息变更通知 </span>
                         </div>
                     </div>
                     <div class="form-group">
                         <label class="col-md-2 control-label"><span style="color:red;margin-right:5px;">*</span> 微信号：</label>
                         <div class="col-md-10">
                             <input id="Wechat" type="text" class="form-control input-inline input-sm input200" value="@Model.Wechat" placeholder="" />
                             <span class="help-inline"> 不是昵称，在“微信-我”界面中，您头像的旁边可以找到 </span>
                         </div>
                     </div>
                 </div>
             </form>

         </div>
         </div>*@

@{
    var imageUrl = "";
    if (!string.IsNullOrEmpty(ViewBag.ImageUrl))
    {
        imageUrl = ViewBag.ImageUrl;
    }
}
@Html.React("BaseInfo", new
{
    baseinfo = Model,
    code = Model.Customers.CustomerTBCode,
    editFlag = Model.ServiceItemHistorys.ElementsValue == null ? false : true,
    imageUrl = imageUrl
})










@* 预约产品区域 *@
<div class="ddtitle ">
    <div class="row">
        <div class="col-md-6 title-left">
            <span class="border-left"></span>项目预约信息
        </div>
    </div>
</div>
@{
    Dictionary<string, bool> buttons = new Dictionary<string, bool>();
}
@Html.React("Orders", new
{
    initdata = Model,
    UIType = "edit",
    state = "editable",
    isForCusClient = true,
    buttons = buttons
})
@{
    //var isDisable = true;//为false时整个页面变为不可编辑
    //var isShownowsave = true;//为false时暂存按钮不可用
    //不是填写状态时，整个页面变为不可编辑
    //var isDisable = Model.state > LanghuaNew.Data.OrderState.Filled ? false : true;
    //不是未填写状态时，暂存按钮不可用
    var isShownowsave = Model.state == LanghuaNew.Data.OrderState.Filled ? false : true;

}
<div style="text-align:center;margin-top:10px">
    <div style="max-width:440px;display:inline-block;position:relative">
        <div class="checkbox">
            <label style="text-align:left">
                <input type="checkbox" id="agreed">
                我已打开并阅读《<a target="_blank" href="http://www.dodotour.net/fengxian.html">旅游风险须知和安全提示告知书</a>》，我承诺转达全部内容给全体参与以上行程的人员，并代表他们进行签字。
            </label>
        </div>
    </div>
</div>
<div class="" style="text-align:center">
    @if (isShownowsave)
    {
        <a data-iscommit=false id="nowsave" class="save-button btn btn-sm btn-default"> 暂存，稍后继续填写</a>
    }
    <a data-iscommit=true id="confirmsave" class="save-button btn btn-sm btn-primary button70"> 提交保存</a>
</div>
<div id="agreeFlightDiving" class="modal modal-animate" data-backdrop="static">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"></button>
                <h4 class="modal-title">重要提醒</h4>
            </div>
            <div class="modal-body">
                <p style="color:red;text-indent:2em;font-size:20px">参加深潜后18小时不能乘坐飞机，否则会对身体造成伤害，请检查您的航班时间在深潜之后至少18小时！</p>
                <p style="color:red;text-indent:2em;font-size:20px">如您点击确定按钮并填写了深潜需要的附加资料后，代表您已经知晓以上提示。浪花朵朵已尽到告知义务，对因此带来的无法参加深潜，航班改签，以及造成的身体伤害等全部后果不承担任何责任！</p>
            </div>
            <div class="modal-footer">
                <span style="float:left;display:inline-block;margin-top:5px;">
                    <label class="form-lables">
                        <input type="checkbox" id="remberMe" value="" /><span>我已知道，下次不提示</span>
                    </label>
                </span>
                <a id="confirmagree" class="btn btn-sm btn-primary button65">确定</a>
                <a id="cancelagree" data-dismiss="modal" class="btn btn-sm btn-default button65">取消</a>
            </div>
        </div>
    </div>
</div>

<div id="clientOrderLoading" class="modal-scrollable" style="z-index: 1060;background:rgba(255,255,255,0.5)!important;">
    <div class="modal in" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="text-align: center; background: rgb(45, 45, 45); height: 60px !important; padding: 10px 0px !important; top: 50% !important; display: block; width: 500px; margin-left: -250px; margin-top: -20px;" aria-hidden="false">
        <div style="display:inline-block;width:40px;height:40px;position:relative;vertical-align:middle">
            <div class="progress-langhua medium circles" style="display: block;">
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
                <span class="circle"></span>
            </div>
        </div>
        <span style="display:inline-block;padding-left:20px;line-height:40px;height:40px;vertical-align:middle;font-weight:bold;color:white">正 在 准 备 呈 现 …… </span>
    </div>
</div>
<script>
    setTimeout(function () {
        var orderloadingtips = document.getElementById("order-loading-tips");
        orderloadingtips.innerText = "网络似乎不给力，亲，刷新下？";
    }, 15000)
</script>
