@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" style="height:100%" >
<!--<![endif]-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />

    <title>修改密码-浪花朵朵</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/plugins/modalCss")
    @Styles.Render("~/Content/plugins/dataTablesCss")
    <!--[if IE 8]>
    @Scripts.Render("~/bundles/essupport")
        <![endif]-->
</head>





<body style="background:white;height:100%;width:100%;padding:0px">
   
            @RenderBody()
</body>
</html>
