@model IEnumerable<LanghuaNew.Data.SellControl>

    @{
    ViewBag.SECTION = "控位销售表-产品";
    ViewBag.FUNCTION = "控位销售表";
    }
    @section PageJS {
    <script src="~/Scripts/pages/sellcontrol.js?v=@System.Configuration.ConfigurationManager.AppSettings[" version"]"></script>
    }
    @section DatepickerCSS {
    @Styles.Render("~/Content/plugins/datePickerCss")
    }
    @section DatepickerJS {
    @Scripts.Render("~/bundles/plugins/datePickerJs")
    }
    @section TypeaheadCSS{
    @Styles.Render("~/Content/plugins/typeAheadCss")
    }
    @section TypeaheadJS{
    @Scripts.Render("~/bundles/plugins/typeAheadJs")
    }
    @section TimepickerJS {
    @Scripts.Render("~/bundles/plugins/timePickerJs")
    }
    @section TimepickerCSS {
    @Styles.Render("~/Content/plugins/timePickerCss")
    }
    <div id="hiddenRelative" style="position:relative;height:1px;"></div>
    <style>
        .dataHolder {
            transition-property: display;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
            /*-moz-transition-property:width;
        -moz-transition-duration:1s;
        -moz-transition-timing-function:linear;*/
            /*-webkit-transition-property:height;
        -webkit-transition-duration:1s;
        -webkit-transition-timing-function:ease-in-out;*/
            /*-o-transition-property:width;
        -o-transition-duration:1s;
        -o-transition-timing-function:linear;*/
        }

        .showhide:hover {
            cursor: pointer;
        }

        .rotae0 {
            transition-property: transform;
            transition-duration: 200ms;
            transition-timing-function: ease-in-out;
        }

        .rate180 {
            transform: rotate(90deg);
            -ms-transform: rotate(90deg); /* IE 9 */
            -webkit-transform: rotate(90deg); /* Safari and Chrome */
            -o-transform: rotate(90deg); /* Opera */
            -moz-transform: rotate(90deg);
        }
    </style>
    <div class="ddtitle ">
        <div class="title-left">
            <span class="border-left"></span>控位销售表
        </div>
        <span class="margin-left-10">
            @{
            int? SellControlClassifyID = ViewBag.SellControlClassifyID;
            List<LanghuaNew.Data.SellControlClassify>
                SellControlClassifies = ((IEnumerable<LanghuaNew.Data.SellControlClassify>
                    )ViewBag.SellControlClassifies).ToList();
                    <div class="btn-group">
                        @for (var i = 0; i < SellControlClassifies.Count(); i++)
                        {
                        string style = "";
                        if (i == 0)
                        {
                        style = "border-top-left-radius: 5px;border-bottom-left-radius: 5px;";
                        }
                        if (i == SellControlClassifies.Count() - 1)
                        {
                        style += "border-top-right-radius: 5px;border-bottom-right-radius: 5px;";
                        }
                        string actas = "btn-default";
                        if (ViewBag.SellControlClassifyID == null && i == 0)
                        {
                        SellControlClassifyID = SellControlClassifies[i].SellControlClassifyID;
                        actas = "btn-primary actas";
                        }
                        else if (ViewBag.SellControlClassifyID != null && ViewBag.SellControlClassifyID == SellControlClassifies[i].SellControlClassifyID)
                        {
                        actas = "btn-primary actas";
                        }
                        <a type="button" href="~/SellControls/Index/@SellControlClassifies[i].SellControlClassifyID" class="btn button86 btn-sm @actas" style="@style">@SellControlClassifies[i].ClassName</a>
                        }
                    </div>
                    }
        </span>

        <div class="button-right">
            @if (ViewBag.isSave)
            {
                <a href="#SellControl" class="fixbuttonnew btn btn-sm btn-primary button65" data-toggle="modal">配置控位产品</a>
            }
            <a href="#GetStatisticsSellControl" class="fixbuttonnew btn btn-sm btn-primary button65" style="margin-right:5px" data-toggle="modal">统计控位产品</a>
        </div>
    </div>
    <hr />
    <div class="tipgroup">
        显示规则：
        <span class="onetip">
            <span class="onecolor gray"></span>
            <span class="onedetial">该产品被规则禁止</span>
        </span>
        <span class="onetip">
            <span class="onecolor green"></span>
            <span class="onedetial">已确认的数量大于0且小于每日控位数</span>
        </span>
        <span class="onetip">
            <span class="onecolor yellow"></span>
            <span class="onedetial">已确认加上预扣的数量大于等于每日控位数</span>
        </span>
        <span class="onetip">
            <span class="onecolor red"></span>
            <span class="onedetial">已确认的数量大于等于每日控位数</span>
        </span>
    </div>
    <div class="margin-bottom-10">
        <div class="btn-group">
            <a id="showAll" class="btn btn-default buttons-excel buttons-html5 btn-sm" tabindex="0" aria-controls="DeliveryList" href="#"><span>全部展开</span></a>
            <a id="hideAll" class="btn btn-default buttons-excel buttons-html5 btn-sm" tabindex="0" aria-controls="DeliveryList" href="#"><span>全部收起</span></a>
        </div>
    </div>
    <!--<br />0、统计的是出行日期，已确认的成人+儿童+婴儿的人数。
    <br />1、确认的数量大于0才显示为绿色
    <br />2、点击数字会进入订单查看当天该行程的搜索结果（日期+行程）。
    <br />3、合并显示产品，去的人数，是这天出发的总人数。回的人数，是这天返回的总人数。
    <br />如果任意一个数字超过当天的限制，就显示为红色。如果已确认的数量没有超过限制，则显示为绿色。确认加上预扣的人数，如果超过了限制，就显示黄色。-->
    <div id="ShowSell">
        @foreach (var item in Model.Where(s => s.SellControlClassifyID == SellControlClassifyID))
        {
        var oldSecondServiceItemID = "";
        var oldSecondItemName = "";
        var oldSecondItemServiceCode = "";
        if (item.SecondServiceItem != null)
        {
        oldSecondServiceItemID = item.SecondServiceItem.ServiceItemID.ToString();
        oldSecondItemName = item.SecondServiceItem.cnItemName.ToString();
        oldSecondItemServiceCode = item.SecondServiceItem.ServiceCode;
        }
        <div id="@item.SellControlID" class="oneSellcontrol" data-sellid="@item.SellControlID">
            <div class="heading" style="position:relative">
                <span class="showhide" style="padding:0px 0px 0px 0px;position:absolute;left:10px;right:297px">
                    <span style="margin-right:5px"><i class="fa  fa-caret-right rotae0 sellControlName"></i></span>
                    <span class="sellControlName" id="oldSellControlName">@item.SellControlName</span>
                </span>

                <span class="alignRight">
                    <span class="tipswhite">
                        每日控位：
                        <span id="oldSellControlNum">@item.SellControlNum</span>
                        @(item.FirstServiceItem.ServiceTypeID == 4 ? "间" : "人")
                    </span>
                    <a href="javascript:;" data-loading-text="<i class='fa fa-refresh fa-spin'></i>" class="reflsahOneSellcontrol btn btn-sm btn-default button65">刷新</a>
                    <input hidden id="oldIsSurplusNum" value="@(item.IsSurplusNum?true:false)" />
                    <input hidden id="oldIsDistribution" value="@(item.IsDistribution?true:false)" />
                    <span id="SupplierID" class="hidden">@item.SupplierID</span>
                    <span id="SupplierName" class="hidden">@item.Supplier.SupplierName</span>
                    <span id="FirstServiceCode" class="hidden">@item.FirstServiceItem.ServiceCode</span>
                    <span id="SecondServiceCode" class="hidden">@oldSecondItemServiceCode</span>
                    <input hidden id="oldSecondServiceItemID" value="@oldSecondServiceItemID" />
                    <input hidden id="oldSecondItemName" value="@oldSecondItemName" />
                    <input hidden id="oldMonthNum" value="@item.MonthNum" />
                    <input hidden id="oldStartDate" value="@item.StartDate.ToString(" yyyy-MM-dd")" />
                    @if (ViewBag.isSet)
                    {
                    <a class="setOneSellcontrol btn btn-sm btn-default button65" href="#SetProduct" data-toggle="modal" data-sellid="@item.SellControlID" data-typeid="@item.FirstServiceItem.ServiceTypeID" id="SetSell">设置</a>
                    }
                </span>
            </div>
            <div class="body">
                <div class="dataHolder" style="display:none">
                    <table class="dataHolderTable table table-bordered table-sellcontrol">
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        }
    </div>



    @if (ViewBag.isSave)
    {
    <div class="modal modal-largeSize modal-animate" id="SellControl" tabindex="-1" data-backdrop="static" role="dialog" data-width=500 data-hight=470>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title">配置控位产品</span>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-body" style="padding-top:0px;padding-bottom:0px">
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="redspark">*</span>产品：</label>
                                <div class="col-md-9">
                                    <span class="caption-subject  ">
                                        <input id="ServiceItems" style="vertical-align:middle;width:200px" placeholder="输入产品编码、名称查询" class="form-control input-sm input-inline " />
                                    </span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="redspark">*</span>供应商：</label>
                                <div class="col-md-9">
                                    <select id="supplier" class="form-control input-inline" style="width:auto !important;min-width:100px"></select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="redspark">*</span> 分类显示：</label>
                                <div class="col-md-9">
                                    <select id="classify" class="form-control input-inline input100" style="width:auto !important;min-width:100px"></select>
                                    <a id="editClasses">编辑</a>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <a id="btnAdd" style="" class="btn btn-primary btn-sm button65">添加</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">已显示产品：</label>
                                <div class="col-md-9">
                                </div>
                            </div>
                        </div>
                        <div style="margin-left:30px;position:relative;">
                            <select id="itemlist" size="8" style="height:180px;width:360px;max-width:360px;">
                                @foreach (var item in Model)
                                {
                                <option data-itemid="@item.FirstServiceItem.ServiceItemID"
                                        data-classifyid="@item.SellControlClassifyID"
                                        data-supplierid="@item.SupplierID"
                                        data-classtext="@item.sellControlClassify.ClassName"
                                        value="@item.SellControlName">
                                    @(item.sellControlClassify == null ? "" :"【" + item.sellControlClassify.ClassName + "】")@item.SellControlName
                                </option>
                                }
                            </select>
                            <div style="width:50px;right:0px;position:relative;display:inline-block;top:0px;vertical-align:top">
                                <a id="btnPre" style="margin-bottom:10px" class="btn btn-default btn-sm button50">上移</a>
                                <a id="btnNext" style="margin-bottom:10px" class="btn btn-default btn-sm button50">下移</a>
                                <a id="btnChange" style="margin-bottom:10px" class=" btn btn-default btn-sm button50">移动</a>
                                <a id="btnDel" style="" class="btn btn-default btn-sm button50">删除</a>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <a id="btnSave" style="" class="btn btn-primary btn-sm button65">保存</a>
                    <span></span>
                    <a istyle="" class="btn btn-default btn-sm button65" data-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>
    }
    @if (ViewBag.isSet)
    {
    <div class="modal modal-largeSize modal-animate" id="SetProduct" tabindex="-1" data-backdrop="static" role="dialog" data-max-height="538" data-width=538 data-hight=470>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title">设置产品</span>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-body" style="padding-top:0px;padding-bottom:0px">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span class="redspark">*</span>显示名称：</label>
                                <div class="col-md-10">
                                    <input hidden id="SellControlID" />
                                    <input id="SellControlName" style="vertical-align:middle;width:400px" class="form-control input-sm input-inline" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span class="redspark">*</span>每日控位：</label>
                                <div class="col-md-10">
                                    <input id="SellControlNum" class="form-control input-sm input-inline input-mini" style="vertical-align:middle;width:50px" />
                                    <span id="numValue">人</span>
                                    <span style="padding-left:5px"><a href="javascript:;" id="setting-special-button" data-sellid="" data-toggle="modal" data-target="#special-setting-modal">特殊设置</a></span>
                                    <span style="padding-left:35px"><label class="checkbox-inline"><input id="IsSurplusNum" type="checkbox" />显示剩余控位数</label></span>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span class="redspark">*</span>统计始于：</label>
                                <div class="col-md-10">
                                    <input id="StartDate" class="form-control input-sm input-small input-inline" style="vertical-align:middle;width:125px">
                                    @*<span class="inputicon glyphicon glyphicon-calendar"></span>*@
                                    <span style="padding-left:35px"><label class="checkbox-inline"><input id="IsDistribution" type="checkbox" />扣减分销数量</label></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span class="redspark">*</span>实时统计：</label>
                                <div class="col-md-10">
                                    <select id="MonthNum" class="input input-sm input-mini">
                                        <option selected value="1">1</option>
                                        <option selected value="2">2</option>
                                        <option selected value="3">3</option>
                                    </select>
                                    <span>个月数据</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><input id="existsProduct" type="checkbox" />合并显示产品：</label>
                                <div class="col-md-9">
                                </div>
                            </div>
                            <div class="form-group hidden" id="product">
                                <label class="col-md-2 control-label"><span class="redspark">*</span>产品：</label>
                                <div class="col-md-10">
                                    <input id="SecondItemName" style="vertical-align:middle;width:200px" placeholder="输入产品编码、名称查询" class="form-control input-sm input-inline " />
                                </div>
                            </div>
                            <div class="form-group hidden" id="productremark">
                                <label class="col-md-2 control-label"></label>
                                <div class="col-md-10">
                                    <span>须和主显产品同供应商</span>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <a id="btnUpdate" style="" class="btn btn-primary btn-sm button65">保存</a>
                    <span></span>
                    <a istyle="" class="btn btn-default btn-sm button65" data-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>
    }



    @* 特殊设置 *@
    <div id="special-setting-modal" class="modal modal-largeSize modal-animate" tabindex="-1" data-backdrop="static" data-height="300" data-width=1000 role="dialog">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title" id="exampleModalLabel">特殊设置</span>


                </div>
                <div class="modal-body">
                    <div>
                        <table id="" class="table-lh  table-lh-bordered-white table-lh-bordered-edge-remove">
                            <colgroup>
                                <col width=162 />
                                <col width=162 />
                                <col width=89 />
                                <col width=137 />
                                <col width=98 />
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>开始日期 </th>
                                    <th>结束日期</th>
                                    <th>控位数</th>
                                    <th>原因</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr id="settingCreated">
                                    <td id="StartTime" style="padding-left:10px !important;padding-right:10px !important">
                                        <input class="form-control input-sm range">
                                    </td>
                                    <td id="EndTime" style="padding-left:10px !important;padding-right:10px !important">
                                        <input class="form-control input-sm range">
                                    </td>
                                    <td id="ExtraSettingNum" style="padding-left:10px !important;padding-right:10px !important">
                                        <input class="form-control ">
                                    </td>
                                    <td id="Remark" style="padding-left:10px !important;padding-right:10px !important">
                                        <input class="form-control ">
                                    </td>

                                    <td style="padding:0px 5px">
                                        <div class="row">
                                            <a href="javascript:;" class="settingSave">保存</a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>


                        </table>
                    </div>



                </div>
                <div class="modal-footer">
                    <a href="javascript:;" type="button" class="btn btn-sm button70 btn-default btn-primary" id="searchWidthSpecialSetting">确定</a>
                    <a href="javascript:;" type="button" class="btn btn-sm button70 btn-default" data-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>




    <div class="modal modal-animate" id="classEdit" tabindex="-1" data-backdrop="static" role="dialog" data-hight=470>
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title">分类显示编辑</span>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-body" style="padding-top:0px;padding-bottom:0px">
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="redspark">*</span>显示名称：</label>
                                <div class="col-md-9">
                                    <input placeholder="5个汉字或10个英文字符" id="classNew" style="vertical-align:middle;width:200px" class="form-control input-sm input-inline " />
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"></label>
                                <div class="col-md-9">
                                    <a id="addClass" style="" class="btn btn-primary btn-sm button65">添加</a>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-md-3 control-label">分类显示名：</label>
                                <p class="col-md-9 form-control-static" style="color:#999999">
                                    （默认显示排第一的分类）
                                </p>
                            </div>
                        </div>
                        <div style="position:relative;margin-left:20px">
                            <select id="classList" size="8" style="height:180px;width:360px;max-width:360px;"></select>
                            <div style="width:50px;right:0px;position:absolute;display:inline-block;vertical-align:top">
                                <a style="margin-bottom:10px" class="btnPre btn btn-default btn-sm button50">上移</a>
                                <a style="margin-bottom:10px" class="btnNext btn btn-default btn-sm button50">下移</a>
                                <a style="" class="btnDel btn btn-default btn-sm button50">删除</a>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btnSave btn btn-primary btn-sm button65">保存</a>
                    <span></span>
                    <a class="btn btn-default btn-sm button65" data-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>

    @*移动分类 *@
    <div class="modal modal-animate" id="classMoveTo" tabindex="-1" data-backdrop="static" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title">移动产品分类</span>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-body" style="padding-top:0px;padding-bottom:0px">
                            <div class="form-group">
                                <label class="col-md-3 control-label">当前分类：</label>
                                <div class="col-md-9">
                                    <p id="classNameCurrent" class="form-control-static">
                                    </p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 control-label"><span class="redspark">*</span>移动到：</label>
                                <div class="col-md-9">
                                    <select id="classify" class="form-control input-inline input100" style="width:auto !important;min-width:100px"></select>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btnSave btn btn-primary btn-sm button65">确定</a>
                    <span></span>
                    <a class="btn btn-default btn-sm button65" data-dismiss="modal">取消</a>
                </div>
            </div>
        </div>
    </div>




    @*查询统计 *@
    <div class="modal modal-animate modal-size-x2" id="GetStatisticsSellControl" tabindex="-1" data-height="271" data-backdrop="static" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <span class="modal-title">统计数据</span>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" role="form">
                        <div class="form-body" style="padding-top:0px;padding-bottom:0px">
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span class="redspark">*</span>统计产品：</label>
                                <div class="col-md-9">
                                    <select id="itemlistx" class="form-control input-inline" style="width:300px;max-width:301px;">
                                        <option value="-1">
                                            请选择
                                        </option>
                                        @foreach (var item in Model)
                                        {
                                        <option data-itemid="@item.FirstServiceItem.ServiceItemID"
                                                data-classifyid="@item.SellControlClassifyID"
                                                data-supplierid="@item.SupplierID"
                                                data-classtext="@item.sellControlClassify.ClassName"
                                                value="@item.SellControlID">
                                            @(item.sellControlClassify == null ? "" : "【" + item.sellControlClassify.ClassName + "】")@item.SellControlName
                                        </option>
                                        }
                                    </select>
                                    <span class="help-inline"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label"><span class="redspark">*</span>统计日期：</label>
                                <div class="col-md-10">
                                    <div id="rangeDate" style="display:inline-block">
                                        <div class="input-icon-right ">
                                            <input id="BeginDate" class="form-control dateX" style="width:140px">
                                            <span class="inputicon  glyphicon glyphicon-calendar"></span>
                                        </div>
                                        <span class="help-inline">至</span>
                                        <div class="input-icon-right ">
                                            <input id="EndDate" class="form-control dateX" style="width:140px">
                                            <span class="inputicon  glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>

                                    <span class="help-inline">
                                        &nbsp;
                                        <a class="setdates pastDaysThisMonth" style="margin:0px 5px">本月至昨天</a>
                                        <a class="setdates thisMonth" style="margin:0px 5px">本月至月底</a>
                                        <a class="setdates lastMonth" style="margin:0px 5px">上月</a>
                                    </span>

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9 col-md-offset-2">
                                    <a id="getStatistics" class="btn btn-primary btn-sm button86">统计</a>
                                </div>
                            </div>
                            <table id="statisticsSellControlResult" class="table-lh table-lh-bordered-white table-lh-bordered-edge-remove ">
                                <colgroup>
                                    <col width="16.6667%" />
                                    <col width="16.6667%" />
                                    <col width="16.6667%" />
                                    <col width="16.6667%" />
                                    <col width="16.6667%" />
                                    <col width="16.6667%" />
                                </colgroup>
                                <thead>
                                    <tr>
                                        <th>
                                            总控位数
                                        </th>
                                        <th>
                                            已销售
                                        </th>
                                        <th>
                                            预扣数
                                        </th>
                                        <th>
                                            分销数
                                        </th>
                                        <th>
                                            剩余
                                        </th>
                                        <th>
                                            售罄率
                                        </th>
                                    </tr>
                                </thead>
                                <tbody></tbody>

                            </table>

                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-default btn-sm button65" data-dismiss="modal">确定</a>
                </div>
            </div>
        </div>
    </div>

