@model LanghuaNew.Data.ServiceRule
@{
    ViewBag.SECTION = "规则";
    ViewBag.FUNCTION = "修改规则";
}
@section PageJS {
    <script src="~/Scripts/pages/rule.js?v=@System.Configuration.ConfigurationManager.AppSettings["version"]"></script>
}

@section DatepickerCSS {
    @Styles.Render("~/Content/plugins/datePickerCss")
}
@section DatepickerJS {
    @Scripts.Render("~/bundles/plugins/datePickerJs")
}

@section TypeaheadCSS{
    @Styles.Render("~/Content/plugins/typeAheadCss")
}
@section TypeaheadJS{
    @Scripts.Render("~/bundles/plugins/typeAheadJs")
}
<input type="hidden" id="ServiceRuleID" value="@Model.ServiceRuleID" />
<input type="hidden" id="UseState" value="@Model.UseState" />
<div class="ddtitle">
    <div class="title-left"><span class="border-left"></span>规则设置</div>
    <div class="button-right"><a href="~/ServiceRules/Index" class="btn btn-sm btn-default">返回产品首页</a></div>
</div>
<div class="panel-default panel">
    <div class="panel-body form">
        <form class="form-horizontal" role="form">
            <div class="form-body" style="padding-top:0px;padding-bottom:0px">
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>出行范围：</label>
                    <div class="col-md-10">
                        @*<div id="rulerange" class="input-group input-group-sm  input-xlarge  date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                <input type="text" id="StartTime" class="form-control " name="from" value="@Model.StartTime.ToString("yyyy-MM-dd")">
                                <span class="input-group-addon" style="background:none;border:0px;padding:0px 10px"> 至 </span>
                                <input type="text" id="EndTime" class="form-control " name="to" value="@Model.EndTime.ToString("yyyy-MM-dd")">
                            </div>*@
                        <div style="display:inline-block">
                            <div id="rulerange" class="input-group  date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                <div class="input-icon-right ">
                                    <input id="StartTime" class="form-control input-sm input-small" value="@Model.StartTime.ToString("yyyy-MM-dd")">
                                    <span class="inputicon  glyphicon glyphicon-calendar"></span>
                                </div>
                                <span class="input-group-addon" style="background:none;border:0px;padding:0px 10px"> 到 </span>
                                <div class="input-icon-right ">
                                    <input id="EndTime" class="form-control input-sm input-small" value="@Model.EndTime.ToString("yyyy-MM-dd")">
                                    <span class="inputicon  glyphicon glyphicon-calendar"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>规则：</label>
                    <div class="col-md-10">
                        <div id="RuleUseTypeValue" style="width:120px">
                            @if (Model.RuleUseTypeValue == LanghuaNew.Data.RuleUseType.Allow)
                            {
                                <label class="radio-inline"><input class="RuleUseTypeValue" type="radio" name="RuleUseTypeValue" value="0" checked />只允许</label>
                                <label class="radio-inline"><input class="RuleUseTypeValue" type="radio" name="RuleUseTypeValue" value="1" />禁止</label>
                            }
                            else
                            {
                                <label class="radio-inline"><input class="RuleUseTypeValue" type="radio" name="RuleUseTypeValue" value="0" />只允许</label>
                                <label class="radio-inline"><input class="RuleUseTypeValue" type="radio" name="RuleUseTypeValue" value="1" checked />禁止</label>
                            }
                        </div>
                    </div>
                </div>
                <div id="SelectRuleType">
                    <div class="form-group">
                        <label class="col-md-2 control-label"><span class="redspark">*</span>限制细则：</label>
                        <div class="col-md-10">
                            @{
                                string ByDateRange = "";
                                string RangeStart = "";
                                string RangeEnd = "";
                                if (Model.SelectRuleType == LanghuaNew.Data.RuleType.ByDateRange)
                                {
                                    ByDateRange= "checked";
                                    RangeStart = Model.RangeStart.ToString("yyyy-MM-dd");
                                    RangeEnd = Model.RangeEnd.ToString("yyyy-MM-dd");
                                }
                            }
                            <label class="radio-inline">
                                <input class="SelectRuleType" type="radio" name="SelectRuleType" value="0" @ByDateRange/>日期选择：
                            </label>
                            <div style="display:inline-block;vertical-align:middle">
                                <div id="launchdaterange" class="input-group date-picker input-daterange" data-date="10/11/2012" data-date-format="mm/dd/yyyy">
                                    <div class="input-icon-right ">
                                        <input id="RangeStart" class="form-control input-sm input-small" value="@RangeStart">
                                        <span class="inputicon glyphicon glyphicon-calendar"></span>
                                    </div>
                                    <span class="input-group-addon" style="background:none;border:0px;padding:0px 10px"> 到 </span>
                                    <div class="input-icon-right ">
                                        <input id="RangeEnd" class="form-control input-sm input-small" value="@RangeEnd">
                                        <span class="inputicon glyphicon glyphicon-calendar"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10" id="Week">
                            @{
                                string ByWeek = "", week1 = "", week2 = "", week3 = "", week4 = "", week5 = "", week6 = "", week0 = "";
                                if (Model.SelectRuleType == LanghuaNew.Data.RuleType.ByWeek)
                                {
                                    ByWeek = "checked";
                                    string[] week = Model.Week.Split('|');
                                    foreach (var item in week)
                                    {
                                        switch (item)
                                        {
                                            case "1":
                                                week1 = "checked";
                                                break;
                                            case "2":
                                                week2 = "checked";
                                                break;
                                            case "3":
                                                week3 = "checked";
                                                break;
                                            case "4":
                                                week4 = "checked";
                                                break;
                                            case "5":
                                                week5 = "checked";
                                                break;
                                            case "6":
                                                week6 = "checked";
                                                break;
                                            case "0":
                                                week0 = "checked";
                                                break;
                                        }
                                    }
                                }
                            }
                            <label class="radio-inline"><input class="SelectRuleType" type="radio" name="SelectRuleType" value="1" @ByWeek />星期选择：</label>
                            <label class="checkbox-inline"><input class="Week" type="checkbox" name="Week" value="1" @week1 />星期一</label>
                            <label class="checkbox-inline"><input class="Week" type="checkbox" name="Week" value="2" @week2 />星期二</label>
                            <label class="checkbox-inline"><input class="Week" type="checkbox" name="Week" value="3" @week3 />星期三</label>
                            <label class="checkbox-inline"><input class="Week" type="checkbox" name="Week" value="4" @week4 />星期四</label>
                            <label class="checkbox-inline"><input class="Week" type="checkbox" name="Week" value="5" @week5 />星期五</label>
                            <label class="checkbox-inline"><input class="Week" type="checkbox" name="Week" value="6" @week6 />星期六</label>
                            <label class="checkbox-inline"><input class="Week" type="checkbox" name="Week" value="0" @week0 />星期日</label>

                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            @{
                                string ByDouble = "";
                                string Double = "";
                                string NoDouble = "";
                                if (Model.SelectRuleType == LanghuaNew.Data.RuleType.ByDouble)
                                {
                                    ByDouble = "checked";
                                    Double = Model.IsDouble ? "checked" : "";
                                    NoDouble = Model.IsDouble ? "" : "checked";
                                }
                            }
                            <label class="radio-inline"><input class="SelectRuleType" type="radio" name="SelectRuleType" value="2" @ByDouble />单双选择：</label>
                            <div id="IsDouble" style="width:120px;display:inline-block">
                                <label class="radio-inline" style="margin-left:0px"><input class="IsDouble" type="radio" name="IsDouble" value="false" @NoDouble />单号</label>
                                <label class="radio-inline" style="margin-left:23px"><input class="IsDouble" type="radio" name="IsDouble" value="true" @Double />双号</label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            @{
                                string ByDate = "";
                                string UseDate = "";
                                if (Model.SelectRuleType == LanghuaNew.Data.RuleType.ByDate)
                                {
                                    ByDate = "checked";
                                    UseDate = Model.UseDate;
                                }
                            }
                            <label class="radio-inline"><input class="SelectRuleType" type="radio" name="SelectRuleType" value="3" @ByDate />固定日期：</label>
                            <input id="UseDate" class="form-control input-sm input-inline" type="text" value="@UseDate" />
                            <span class="help-inline help-line-vertical-bottom">只写号数并用竖线分隔，如：14|28</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label">规则原因/备注：</label>
                        <div class="col-md-10">
                            <textarea id="Remark" class="form-control input-inline" rows="5" style="width:290px">@Model.Remark</textarea>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="redspark">*</span>规则使用产品：</label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"></label>
                    <div class="col-md-10 ">
                        <div style="width:800px">
                            <table class="table-lh table-lh-bordered-white table-lh-bordered-edge-remove " id="tbServiceItem">
                                <thead>
                                    <tr>
                                        <th style="width:100px;">序号</th>
                                        <th style="width:500px;">产品名称</th>
                                        <th style="width:200px;">操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.RuleServiceItem != null)
                                    {
                                        int i = 1;
                                        foreach (var item in Model.RuleServiceItem)
                                        {
                                            <tr class='itemRow'>
                                                <td>@i</td>
                                                <td>@item.cnItemName<span class='hidden' id="serviceid">@item.ServiceItemID</span></td>
                                                <td><a id='delete' class='btn btn-sm btn-default button70'>删除</a></td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                    <tr>
                                        <td></td>
                                        <td>
                                            <span class="caption-subject  ">
                                                <input id="ServiceItems" style="vertical-align:middle;width:200px" placeholder="输入产品编码、名称查询" class="form-control input-sm input-inline " />
                                            </span>
                                            <span id="selectedItem" data-itemid="" class="hidden">
                                            </span>
                                            <span id="selectedTips" class="hidden" style="font-size:12px;color:#333">
                                                已选中:
                                                <span id="which" class="which" style="font-size:12px;font-weight:bold">
                                                </span>
                                            </span>
                                            <span id="warningError" class="tips hidden" style="font-size:12px;color:#333">
                                                请选择产品
                                            </span>
                                        </td>
                                        <td>
                                            <a id="btnAdd" class="btn btn-sm btn-default button70">保存</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="" style="text-align:center">
    <a id="btnSave" class="btn btn-sm btn-primary button70">保存规则设置</a>
</div>